<div class="page-header" style="padding: 20px 20px 40px 150px;">
	<h1> {{main.username}}'s profile</h1>
</div>

<div class="panel panel-info">
	<div class="panel-heading" style="text-align: center;"><strong>User Profile</strong></div>

	<table class="table">
		<tr>
			<td><strong>Username</strong></td>
			<td><strong>Email</strong></td>
			<td><strong>Password</strong></td>
		</tr>

		<tr>
			<td><strong>{{main.username}}</strong></td>
			<td><strong>{{main.useremail}}</strong></td>
			<td><strong>**********</strong></td>
		</tr>
	</table>
</div>